
<div class="burger-container">
    <div>
        <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu"/>
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
            <div class="main-content-wrapper">
                <a routerLink="/about">About</a>
                <a routerLink="/home">Lebenslauf</a>
                <a routerLink="/colors">About</a>
            </div>
        </div>
    </div>
    <div>
        <div class="header-right">
            <div class="small-logo">
                <img src="assets/logo.svg">
            </div>
        </div>
    </div>
</div>



<div class="container">

    <div class="header-middle">
        <h2>
            <a routerLink="/home">Lebenslauf</a>
        </h2> 
        <h2>
            <a routerLink="/about">About</a>
        </h2> 
        <h2>
            <a routerLink="/colors">Projekte</a>
        </h2> 
        <h2>
            <a routerLink="/colors">Aktuelles</a>
        </h2> 
        <h2>
            <a routerLink="/colors">Kontakt</a>
        </h2> 
    </div>

    <div class="header-right">
        <div class="small-logo">
            <img src="assets/logo.svg">
        </div>
    </div>
    
</div>