.container {
    // background-color: var(--primary);
    height: var(--footer-height);
    background-image: linear-gradient(var(--secondary), var(--primary));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    
    div, a {
        text-decoration: none;  
        color: var(--background);
    }
}
