<header>
    <h1>Impressum</h1>
</header>
<p><strong>Angaben gemäß § 5 TMG:</strong><br>
    Marian Mannert<br>
    Schaezlerstr. 36<br>
    86152 Augsburg<br>
    Deutschland</p>

<p><strong>Kontakt:</strong><br>
    E-Mail: <a href="mailto:kontakt@marianmannert.de">kontakt@marianmannert.de</a></p>

<p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
    Marian Mannert<br>
    Schaezlerstr. 36<br>
    86152 Augsburg<br>

<section>
    <h2>Haftungsausschluss / Verantwortlichkeit</h2>
    <p>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den
        Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
</section>
