<app-header class="header-container">

</app-header>

<div class="background">

    <div class="">
        <div class="timeline">
            <div class="outer">
                <div class="card">
                <div class="info">
                    <h3 class="title">Steckbrief</h3>
                    <div style="display: grid; grid-template-columns: 1fr auto;">
                        <div>
                            <span class="secondary-type"> Name: Marian J. Mannert </span> <br>
                            <span class="secondary-type"> Beruf: Selbstständig / Student </span> <br>
                            <span class="secondary-type"> Spezialisierung: Frontend, UI/UX, SEO, Beratung </span> <br>
                            <span class="secondary-type"> Sprachkenntnisse: Deutsch (Muttersprache), Englisch (C1), Spanisch (Grundkenntnisse) </span>  <br>
                            <span class="secondary-type"> Wohnort: Augsburg </span> <br>
                            <span class="secondary-type"> Hobbies: Schlagzeug spielen, Badminton </span> <br>
                        </div>
                        <div class="me-img">
                            <img rel="preload" alt="Profilbild" src="assets/me.jpeg">
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="info">
                    <h3 class="title">Motivation</h3>
                    <p> Lorem Ipsum </p>
                </div>
                </div>
                <div class="card">
                <div class="info">
                    <h3 class="title">Philosophie</h3>
                    <p> Lorem Ipsum  </p>
                </div>
                </div>
                 <div class="card">
                <div class="info">
                    <h3 class="title">Philosophie</h3>
                    <p> Lorem Ipsum  </p>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>

