.layout {
    display: grid;
    grid-template-columns: 3fr auto;
    grid-gap: 10px;
    // min-height: 100vh;
    // overflow: scroll;
}

.me-img {
    justify-content: center;
    display: flex;
    // margin-right: 30px;
    margin-top: -60px;
    img {
        height: 260px;
        border-radius: 60px;
    }
}


@media screen and (max-width: 850px) {
    .me-img {
        display: none;
    }
}
