<ol class="cv" [class.compact]="compact">
  <li class="entry" *ngFor="let entry of entries">
    <div class="period">
      {{ entry.period }}
      <span *ngIf="entry.duration" class="duration">{{ entry.duration }}</span>
    </div>

    <div class="marker" aria-hidden="true"></div>

    <article class="content">
      <h3>{{ entry.title }}</h3>
      <div class="meta">
        <span><i class="fa-solid fa-building"></i> {{ entry.organisation }}</span>
        <span><i class="fa-solid fa-id-card"></i> {{ entry.type }}</span>
      </div>

      <ng-container *ngIf="!compact">
        <p *ngFor="let paragraph of entry.description">{{ paragraph }}</p>
        <ul *ngIf="entry.tags" class="chips">
          <li class="chip" *ngFor="let tag of entry.tags">{{ tag }}</li>
        </ul>
      </ng-container>
    </article>
  </li>
</ol>
