<div class="timeline">
  <div class="outer">
     <div class="card">
      <div class="info">
        <h3 class="title">Auslandssemester an dem British Columbia Institute of Technology - Vancouver</h3>
        <p> Das British Columbia Institute of Technology (BCIT) ist eine Universität mit mehreren Standorten rund um Vancouver und einer starken Orientierung an der Wirtschaft und Technik. <br>
             Ich belegte hier 4 Kurs: Social Media Networking (95%), UI / UX Strategy 1 (90%), Online Store (89%), App Development Strategy (97%) </p>

        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> British Columbia Institute of Technology </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Vollzeit </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> Januar 2025 - Mai 2025 </span>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">Software Entwickler Frontend</h3>
        <p> Erkoware Solutions ist ein Unternehmen für App-, Web- und Softwareentwicklung, das individuelle Softwarelösungen für produzierende mittelständische Unternehmen anbietet. Meine Aufgaben umfassten vor allem das Erstellen von Apps für Android und iOS mit Vue und Capacitor. </p>

        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> erkoware solutions GmbH </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Werkstudent </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> November 2024 - Februar 2025 (4 Monate) </span>
        <span class="secondary-type"> <i class="fa-solid fa-tags"></i> Vue, TypeScript, Capacitor, Android Studio, Webstorm </span>
    
      </div>
    </div>
     <div class="card">
      <div class="info">
        <h3 class="title">Auslandsprojekt an der Ulster University - Belfast</h3>
        <p> Im Rahmen meines Informatik-Studiums verbrachte ich 5 Wochen in Belfast und arbeitete dort mit zwei Kommilitoninnen und dem Senior Lecturer, Dr. George Moore, an einem Informatik-Projekt. </p>

        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> Ulster University </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Vollzeit </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> Februar 2024 - März 2024 </span>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">Software Entwickler Frontend</h3>
        <p> Possehl Analytics unterstützt kleine und mittelständische Industrie-Unternehmen dabei, profitable datengetriebene Geschäftsmodelle zu entwickeln und umzusetzen. Darüber hinaus unterstützt Possehl Analytics seine Kunden bei der konkreten Umsetzung Ihres Projekts. Ich war verantwortlich für die Umsetzung von Frontend-Lösungen in enger Zusammenarbeit mit Design-, Produkt- und Entwicklerteams. Dabei übernahm ich technische Entscheidungen, unterstützte Kollegen fachlich, wirkte an Schnittstellenkonzepten mit und sorgte für stabile, wartbare Software bei agiler Arbeitsweise. </p>

        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> Possehl Analytics GmbH </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Werkstudent </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> Oktober 2022 - December 2023 (15 Monate) </span>
        <span class="secondary-type"> <i class="fa-solid fa-tags"></i> Angular, TypeScript, SASS/SCSS, Visual Studio Code, PostgreSQL, Primefaces </span>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">Beginn Studium Informatik B. Sc.</h3>
        <p> Der Bachelorstudiengang Informatik vermittelt fundierte Kenntnisse über Aufbau und Arbeitsweise von IT-Systemen, Softwareentwicklungsmethoden, Rechnernetzen und Datenbanken. </p>

        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> Technische Hochschule Augsburg </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Vollzeit </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> Oktober 2022 - Aktuell </span>
        <span class="secondary-type"> <i class="fa-solid fa-tags"></i> Java, Vue, Python, Softwareengeneering, Projektentwicklung, Führung, Höhere Mathematik... </span>
      </div>
    </div>
     <div class="card">
      <div class="info">
        <h3 class="title">Software Entwickler Frontend</h3>
        <p> Possehl Analytics unterstützt kleine und mittelständische Industrie-Unternehmen dabei, profitable datengetriebene Geschäftsmodelle zu entwickeln und umzusetzen. Darüber hinaus unterstützt Possehl Analytics seine Kunden bei der konkreten Umsetzung Ihres Projekts. Ich war verantwortlich für die Umsetzung von Frontend-Lösungen in enger Zusammenarbeit mit Design-, Produkt- und Entwicklerteams. Dabei übernahm ich technische Entscheidungen, unterstützte Kollegen fachlich, wirkte an Schnittstellenkonzepten mit und sorgte für stabile, wartbare Software bei agiler Arbeitsweise. </p>

        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> Possehl Analytics GmbH </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Vollzeit </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> Januar 2021 - September 2022 (16 Monate) </span>
        <span class="secondary-type"> <i class="fa-solid fa-tags"></i> Angular, TypeScript, SASS/SCSS, Visual Studio Code, PostgreSQL, Primefaces </span>
      </div>
    </div>
    <div class="card">
      <div class="info">
       <h3 class="title">Software Entwickler Frontend</h3>
        <p> manroland Goss web systems ist der führende Anbieter von Rollenoffsetdrucklösungen. Das Unternehmen bietet KI-gestützte Automatisierungs-, Retrofit- und E-Commerce-Lösungen für die Druckindustrie. Ich war Teil des Frontend-Teams zur Entwicklung der Software "Maintellisense". Meine Aufgaben waren hauptsächlich das Umsetzten von Designvorschlägen. </p>

        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> manroland Goss web systems GmbH </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Vollzeit </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> Juni 2019 - December 2020 (19 Monate) </span>
        <span class="secondary-type"> <i class="fa-solid fa-tags"></i> Angular, TypeScript, SASS/SCSS, Visual Studio Code, Primefaces </span>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">Ausbildung zum Fachinformatiker für Anwendungsentwicklung</h3>
        <p> manroland Goss web systems ist der führende Anbieter von Rollenoffsetdrucklösungen. Das Unternehmen bietet KI-gestützte Automatisierungs-, Retrofit- und E-Commerce-Lösungen für die Druckindustrie. Ich war teil des Frontend-Teams zur Entwicklung der Software "Maintellisense". Meine Aufgaben waren hauptsächlich das Umsetzten von Designvorschlägen. </p>

        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> manroland Goss web systems GmbH </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Vollzeit </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> September 2016 - Juni 2019 (34 Monate) </span>
        <span class="secondary-type"> <i class="fa-solid fa-tags"></i> Angular, TypeScript, SASS/SCSS, Linux, Java, ABAP, VB </span>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">Ausbildung zum Technischen Systemplaner</h3>
        <span class="secondary-type"> <i class="fa-solid fa-briefcase"></i> Engelhardt Heizung+Sanitär GmbH </span>
        <span class="secondary-type"> <i class="fa-solid fa-id-card"></i> Vollzeit </span>
        <span class="secondary-type"> <i class="fa-solid fa-clock"></i> September 2012 - Januar 2016 (41 Monate) </span>
      </div>
    </div>
  </div>
</div>


