<div class="body-container">
    <div class="body-content">

        <app-header class="header-container">
        </app-header>

        <div class="background">
            <div class="container">
                <div class="grid">
                    <div class="item">
                        Punk.de
                        <a routerLink="/projects/punk-de">
                            <div class="img-container">
                                <div class="h-img-1">
                                    <img alt="Landing-Clothing" src="assets/projects/punk_de/Landing-Clothing.webp">
                                </div>
                                <div class="h-img-2">
                                    <img alt="Product Detail" src="assets/projects/punk_de/Product Detail.webp">
                                </div>
                                <div class="h-img-3">
                                    <img alt="Band Merch" src="assets/projects/punk_de/Band Merch.webp">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        AI-Finder
                        <div class="img-container">
                            <div class="w-img-1">
                                <img alt="Wizard Role" src="assets/projects/ai_finder/Wizard - Role.webp">
                            </div>
                            <div class="w-img-2">
                                <img alt="How it works" src="assets/projects/ai_finder/How it works.webp">
                            </div>
                            <div class="w-img-3">
                                <img alt="Wizard Task" src="assets/projects/ai_finder/Wizard - Task.webp">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                            Drinkers
                        <a routerLink="/projects/drinkers">
                            <div class="img-container">
                            <div class="h-img-1">
                                    <img alt="Splash screen" src="assets/projects/drinkers/splash.webp">
                                </div>
                                <div class="h-img-2">
                                    <img alt="Imprint" src="assets/projects/drinkers/Imprint.webp">
                                </div>
                                <div class="h-img-3">
                                    <img alt="Menu" src="assets/projects/drinkers/Menu.webp">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        What's Pub in
                        <div class="img-container">
                            <div class="h-img-1">
                                <img alt="Landing" src="assets/projects/whats_pub_in/landing.webp">
                            </div>
                            <div class="h-img-2">
                                <img alt="Questions" src="assets/projects/whats_pub_in/questions.webp">
                            </div>
                            <div class="h-img-3">
                                <img alt="Ranking" src="assets/projects/whats_pub_in/ranking.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
