<app-header class="header-container">

</app-header>

<div class="background">

    <div class="container">
        <div class="grid">
            <div class="item">
                Punk.de
                <div class="img-container">
                    <div class="h-img-1">
                        <img alt="Landing-Clothing" src="assets/projects/punk_de/Landing-Clothing.svg">
                    </div>
                    <div class="h-img-2">
                        <img alt="Product Detail" src="assets/projects/punk_de/Product Detail.svg">
                    </div>
                    <div class="h-img-3">
                        <img alt="Band Merch" src="assets/projects/punk_de/Band Merch.svg">
                    </div>
                </div>
            </div>
            <div class="item">
                AI-Finder
                <div class="img-container">
                    <div class="w-img-1">
                        <img alt="Wizard Role" src="assets/projects/ai_finder/Wizard - Role.svg">
                    </div>
                    <div class="w-img-2">
                        <img alt="How it works" src="assets/projects/ai_finder/How it works.svg">
                    </div>
                    <div class="w-img-3">
                        <img alt="Wizard Task" src="assets/projects/ai_finder/Wizard - Task.svg">
                    </div>
                </div>
            </div>
            <div class="item">
                Drinkers
                <div class="img-container">
                   <div class="h-img-1">
                        <img alt="Splash screen" src="assets/projects/drinkers/splash.jpg">
                    </div>
                    <div class="h-img-2">
                        <img alt="Imprint" src="assets/projects/drinkers/Imprint.jpg">
                    </div>
                    <div class="h-img-3">
                        <img alt="Menu" src="assets/projects/drinkers/Menu.jpg">
                    </div>
                </div>
            </div>
            <div class="item">
                What's Pub in
                <div class="img-container">
                    <div class="h-img-1">
                        <img alt="Landing" src="assets/projects/whats_pub_in/landing.jpg">
                    </div>
                    <div class="h-img-2">
                        <img alt="Questions" src="assets/projects/whats_pub_in/questions.jpg">
                    </div>
                    <div class="h-img-3">
                        <img alt="Ranking" src="assets/projects/whats_pub_in/ranking.jpg">
                    </div>
                </div>
            </div>
            <div class="item">
                The three bananas
                <div class="img-container">
                    <div class="w-img-1">
                        <img alt="Landing" src="assets/projects/the_three_bananas/team.png">
                    </div>
                    <div class="w-img-2">
                        <img alt="History" src="assets/projects/the_three_bananas/history.jpg">
                    </div>
                    <div class="w-img-3">
                        <img alt="Product" src="assets/projects/the_three_bananas/product.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

