.container {
    min-width: 300px; 
    max-width: 1250px;
    margin: 20px auto;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    max-width: 1350px;
    margin: 0 auto;
}

.item {
    min-width: 370px;
    max-width: 500px;
    min-height: 170px;
    background: var(--neutral);
    color: var(--primary);
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 8px;
    margin: 5px auto;
    overflow: hidden;  
    justify-content: center;
    display: grid;
    padding-bottom: 20px;
    :hover {
        transform: scale(1.1);
        transition: all 0.5s ease;
    }
    :not(:hover) {
        transform: scale(1.0);
        transition: all 0.3s;
    }
}

.w-img-1 {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: -235px;
    img {
        height: 115px;
        max-width: 150px;
        rotate: -7deg;
    }
}

.w-img-2 {
    justify-content: center;
    display: flex;
    margin-top: -45px;
    img {
        height: 115px;
        max-width: 150px;
    }
}

.w-img-3 {
    justify-content: center;
    display: flex;  
    margin-top: -70px;
    margin-left: 215px;
    img {
        height: 115px;
        max-width: 150px;
        rotate: -10deg;
    }
}

.h-img-1 {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    float: inline-start;
    img {
        height: 260px;
        max-width: 130px;
        rotate: -10deg;
    }
}

.h-img-2 {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    float: inline-start;
    img {
        height: 260px;
        max-width: 130px;
    }
}

.h-img-3 {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    img {
        height: 260px;
        max-width: 130px;
        rotate: 15deg;
    }
}