
@font-face {
    font-family: 'Inter_18';
    src: url('../../../assets/fonts/Inter_18.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.project-title-icon {
    height: 190px;
    margin: 20px auto -10px auto;
    display: flex;
    justify-content: center;
}
