/* You can add global styles to this file, and also import other style files */
:root {
    --background: #FAFAFA;
    --primary: #8B5E3C;
    --primary-hover: #472A1A;
    --secondary: #FF8C3A;
    --text: #121212;
    --neutral: #D6D4C2;
}